[Unit]
Description=Lofi Stream
After=network.target

[Service]
WorkingDirectory=/opt/lofi-stream
ExecStart=/opt/lofi-stream/.venv/bin/python /opt/lofi-stream/stream.py
Restart=always
RestartSec=5
User=root
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
